.conteudo-avaliacoes{

  h2{
    .opensans(20px, bold);
    color: @verde;
    display: block;
    position: relative;
    &:after{
      content: "";
      height: 1px;
      background: @verde_claro;
      display: block;
      max-width: 400px;
      width: 100%;
      margin-top: 8px;
    }
    &.titulo-historico{
      margin-top: 80px;
    }
  }

  .contem-colunas{
    margin: 20px 0 60px 0;
    font-size: 0;
    .coluna{
      p{
        display: block;
        .opensans(13px);
        line-height: 140%;
        margin: 0 0 15px 0;
      }
      .texto-avaliacao{
        padding: 15px 40px 20px 0;
        color: @cinza;
      }
      .destaque{
        padding: 15px 25px;
        color: #fff;
        font-weight: bold;
        background: @verde;
        p{
          margin: 0;
          font-weight: bold;
        }
      }
      ol{
        list-style: decimal inside;
        li{
          line-height: 140%;
          .opensans(13px, bold);
          color: #fff;
        }
      }
    }
  }

  p.titulo-categoria{
    .opensans(14px);
    color: @cinza;
    line-height: 150%;
    margin-bottom: 25px;
    span{
      color: @vermelho;
      font-size: 16px;
      font-weight: bold;
      padding: 0 20px 0 10px;
    }
  }


  .lista-avaliacoes{
    margin-top: 50px;
    margin-bottom: 40px;
    .linha-loader{
      height: 50px;
      margin: 15px 0;
      text-align: center;
      background: url('/images/loader.svg') center center no-repeat;
    }
    .linha{
      background: #fff;
      font-size: 0;
      min-height: 60px;
      border: 1px @verde solid;
      border-bottom: none;
      position: relative;

      &:last-child{
        border-bottom: 1px @verde solid;
      }

      .nenhum{
        line-height: 60px;
        text-align: center;
        .opensans(20px, bold);
        color:@verde;
      }

      .avaliacao-codigo{
        .inline;
        width: 28.006%;
        span{
          height: 60px;
          line-height: 60px;
          display: block;
          box-sizing: border-box;
          padding: 0 20px;
          .opensans(16px);
          color:@verde;
        }
        @media @small{
          width: 100%;
        }
      }

      &.editavel:first-child{
        .avaliacao-codigo{
          position: relative;
          &:after{
            content: attr(data-label);
            .opensans(13px, bold);
            color:@verde;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-170%);
          }
        }
      }

      .erro-linha{
        border-top: 1px @verde solid;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        background-color:@vermelho;
        box-sizing: border-box;
        .opensans(14px);
        color:#fff;
      }

      .avaliacao-criterio{
        .inline;
        width: 12%;
        @media @small{
          width: 100%;
        }

        .input{
          background: @azul_claro;
          height: 60px;
          border-left: 1px @verde solid;
          display: block;
          text-align: center;
          .opensans(20px, bold);
          color:@cinza;
          position: relative;
          box-sizing: border-box;
          padding: 5px 15px;
          .padding{
            position: relative;
          }
          @media @small{
            border-left: none;
          }
        }

        a{
          width: 100%;
          box-sizing: border-box;
          display: block;
          background: @verde_claro;
          height: 60px;
          text-align: center;
          line-height: 60px;
          .opensans(16px, bold);
          color:#fff;
          border-left: 1px @verde solid;
          transition: all .3s ease-in-out;
          &:hover{
            background-color:@verde;
          }
          i{
            display: none;
            margin: 13px 0;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            width: 30px;
            height: 30px;
          }
          &.enviando{
            background-color:@verde;
            span{display:none;}
            .loader{
              .inline;
              opacity: 1;
            }
          }
          &.sucesso{
            background-color:@verde;
            span, .loader{display:none;}
            .sucesso{
              .inline;
              background: url('/images/icon-sucesso.png') center center no-repeat;
              opacity: 1;
            }
          }
        }

        input[type="text"]{
          background: transparent;
          height: 50px;
          line-height: 50px;
          border: none;
          display: block;
          text-align: center;
          box-sizing: border-box;
          .opensans(20px, bold);
          max-width: 100%;
          color:@cinza;
          position: relative;
          z-index: 1;
          cursor:pointer;
        }

        .input span{
          position: absolute;
          top: 0;
          left: 50%;
          z-index: 0;
          height: 50px;
          width: 0;
          background: #FFF;
          //border: 1px @verde_claro solid;
          opacity: 0;
          transition: all .2s ease-in-out;
        }


        input[type="text"]:focus{
          outline: none;
          & ~ span{
            opacity: 1;
            width: 100%;
            left: 0;
          }
        }

        input[type="text"]:disabled{
          font-size: 13px;
          font-weight: normal;
          @media @small{
            width: 100%;
          }
        }

        &:last-child{background: @verde_claro;}
      }
      &:first-child{
        .avaliacao-criterio{
          position: relative;
          &:after{
            content: attr(data-label);
            .opensans(13px, bold);
            color:@verde;
            position: absolute;
            top:0;
            left: 50%;
            transform: translateX(-50%) translateY(-170%);
            @media @small{
              top: 50%;
              left: 18px;
              transform: translateY(-50%);
            }
            @media @medium{
              font-size: 10px;
              white-space: nowrap;
            }
          }
        }
      }

    }
  }

}


.loader,
.loader:after {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.loader {
  //margin: 60px auto;
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
