@mini	  : ~"(min-width: 0px) and (max-width: 425px)";
@small	: ~"(min-width: 0px) and (max-width: 789px)";
@medium : ~"(min-width: 790px) and (max-width: 1199px)";
@large  : ~"(min-width: 1200px)";

@verde:#277F8D;
@vermelho:#E55370;
@verde_claro:#7CCAAF;
@azul_claro:#E4F2EB;
@cinza:#757876;
@cinza_escuro:#4D4D4D;
@cinza_claro:#E6E6E6;

@azul:#080F5D;
@musgo:#79827E;

.opensans(@fsize: 12px, @fweight: normal){
	font-family: 'Open Sans', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

strong{font-weight: bold;}
a{text-decoration: none;}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}

.inline{
	display: inline-block;
	vertical-align:top;
	zoom: 1;
}
